#header{
    text-align: center; /* Texten i mitten */
    color: blue; /* Färg */ 
    border: 10px; /* Storlek border */
    font-style: italic; /* Text typ */ 
    font-size: 50px; /* Text typ storlek */ 
}

.text h2{
    top:30%;
}
 
h2{
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate( -50%, -50%);
  font-size:3em;
  color: white;
  font-style: italic;
  font-size: 50px; 
}
p{
    text-align: center; /* Text i mitten */
    color: blue; /* Färg */
    border-radius: 10px; /* Rundad border */
    font-style: normal; /* Text typ */
    font-size: 40px; /* Storlek text typ */ 
}
body{
margin: 0px;
overflow: hidden;
}

